<h1>Create a New Category</h1>

<%= render partial: 'layouts/errors', locals: {object: @category} %>


<%= form_with(model: @category) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <h3>Add Shoes:  </h3>
  <%= f.label :shoe_ids, "Shoes:" %>
  <%= f.collection_check_boxes :shoe_ids, Shoe.all, :id, :brand_and_color %>
  <br>


  <h3>Or Create a New Shoe</h3>
  <%= f.fields_for :shoes do |shoe_field| %>

    <%= render 'shoes/form',  {f: shoe_field} %>
  <hr>
  <% end %>

  <%= f.submit %>
<% end %>



