<h1>Edit your Shoe! </h1>

<%= render partial: 'layouts/errors', locals: {object: @shoe} %>


<%= form_with(model: @shoe) do |f| %>

  <%= render 'form',  {f: f} %>

  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true  %>
  <br>
  <h3>Or Create a New Category</h3>
  <%= f.fields_for :category do |cat_field| %>
    <%= cat_field.label :name %>
    <%= cat_field.text_field :name %>
    <br>
  <% end %>
  <%= f.submit %>
<% end %>