<h1>Create a New Shoe here:</h1>


<%= form_with(model: @shoe, class: 'new_shoe') do |f| %>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
  <br>
  <%= f.label :condition %>
  <%= f.text_field :condition %>
  <br>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <br>
   <%= f.label :price %>
  <%= f.number_field :price %>
  <br>
  <%= f.submit %>
<% end %>



