<h1> <%= @shoe.brand_and_color %> </h1>

<p>Condition: <%= @shoe.condition %></p>
<p>Price: $<%= @shoe.price%></p>
<p>Category: <%= @shoe.category.try(:name) %></p>


<%= link_to( "Delete" ,shoe_path(@shoe), method: 'delete') %>

