<!DOCTYPE html>
<html>
  <head>
    <title>GitmoneyShoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= current_user.username%>
        <%= link_to("All Shoes", shoes_path) %> |
        <%= link_to("New Shoe", new_shoe_path) %> |
        <%= link_to("Most Expensive", expensive_path) %> |
        <%= link_to("All Categories", categories_path) %> |
        <%= link_to("New Category", new_category_path) %> |
        <%= form_with(url: '/logout', method: 'delete') do |f| %>
          <%= f.submit "Logout" %>
        <% end %>
      <% else %>
        <%= link_to("Sign Up", '/signup') %>
        <%= link_to("Log In With Google", '/auth/google_oauth2') %>
      <% end %>

      <p><%= flash[:message] %></p>

    </div>
    <%= yield %>
  </body>
</html>
