<!DOCTYPE html>
<html>
  <head>
    <title>GitmoneyShoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to("All Shoes", shoes_path) %>
      <%= link_to("Most Expensive", expensive_path) %>
    </div>
    <%= yield %>
  </body>
</html>
