<!DOCTYPE html>
<html>
  <head>
    <title>GitmoneyShoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div>
      <%= link_to("All Shoes", shoes_path) %> |
      <%= link_to("New Shoe", new_shoe_path) %> |
      <%= link_to("Most Expensive", expensive_path) %> |
      <%= link_to("All Categories", categories_path) %> |
      <%= link_to("New Category", new_category_path) %>

    </div>
    <%= yield %>
  </body>
</html>
